@tailwind base;
@tailwind components;
@tailwind utilities;


.kaioken-devtools-embedded {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.4) rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  width: 800px;
  max-width: calc(100% - 2rem);
  height: 600px;
  max-height: calc(100% - 2rem);
  border-radius: 0.25rem;
  overflow-y: auto;
  background: #070707ee;
  box-shadow: 0 0 30px #000a;
  backdrop-filter: blur(4px);
}